* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

.pop-up-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pop-up-box {
    position: absolute;
    top: 5px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
    font-size: 1.2rem;
    // width: 365px;
    padding: 10px;
    background-color: #ecf0f1;
    color: #19222b;

    .fa-exclamation-triangle {
        color: #d33423;
        margin: 0 5px;
    }

    .close-box {
        position: absolute;
        right: -95px;
        background-color: #c7d5d6;
        padding: 10px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .fa-times {
            color: #a254c4;
            margin-right: 5px;
            font-size: 1.5rem;
        }
    }
}

.delete {
    position: relative;
    // top: 50%;
    // transform: translateS(-50%);

    padding: 8px 12px;
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    border: none;
}

.show {
    display: flex;
    animation: show 0.4s ease-in-out;
}

@keyframes show {
    0% {
        top: 0;
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    100% {
        top: 0.7rem;
        opacity: 1;
    }
}

@media (max-width:500px) {
    .pop-up-box {
        width: 320px;
        font-size: 1rem;

        .close-box {
            padding: 7px;
            right: -15px;
        }
    }
}